version: '2.1'

services:
  users-db:
    container_name: users-db
    build:
      context: ./services/users/project/db
    ports:
      - 5435:5432 # expose ports - HOST:CONTAINER
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: exit 0

  users-service:
    container_name: users-service
    build:
      context: ./services/users
    volumes:
      - './services/users:/usr/src/app'
    ports:
      - 5001:5000 # expose ports - HOST:CONTAINER
    environment:
      - APP_SETTINGS=project.config.DevelopmentConfig
      - DATABASE_URL=postgres://postgres:postgres@users-db:5432/users_dev
      - DATABASE_TEST_URL=postgres://postgres:postgres@users-db:5432/users_test
    depends_on:
      users-db:
        condition: service_healthy
    links:
      - users-db
  nginx-server:
    container_name: nginx-server
    build: ./services/nginx
    restart: always
    ports:
      - 80:80
    depends_on:
      users-service:
        condition: service_started
      client:
        condition: service_started
    links:
      - users-service
      - client
  client:
    container_name: client
    build:
      context: ./services/client
    volumes:
      - './services/client:/usr/src/app'
    ports:
      - '3007:3000'
    environment:
      - NODE_ENV=development
      - REACT_APP_USERS_SERVICE_URL=http://localhost:5001
    depends_on:
      - users-service
        
      